<h1><%= @user.first_name%> , see what we have for you!</h1>

<p>This product (<strong><%= @product.name %></strong>), is running out.</p>

<% if @product.photo.key %>
  <%= cl_image_tag("#{@product.photo.key}", width: 200) %>
<% else %>
  <%= image_tag('coca_cola.png', style: 'width: 200px') %>
<% end %>

<p><%= link_to 'Order now', product_url(@product) %></p>