<h1>Edit product</h1>

<div class='user-form'>
    <%= simple_form_for(@product, url: admin_product_path) do |f| %>
    <div class="form-inputs">
        <%= f.input :sku, label: 'SKU' %>
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
        <% if current_user.admin %>
            <%= f.input :price %>
        <% end %>
        <%= f.input :stock %>
        <%= f.input :tag_ids, as: :select, label: 'Tags',
            collection: Tag.order(:name), label_method: :name, input_html: { multiple: true } %>
    </div>
    
    <div class="form-actions">
        <%= f.submit 'Update product', class: 'btn btn-primary' %>
    </div>
    <% end %>
    <div class='text-center'>
      <%= link_to "Back", :back %>
    </div>
</div>