<h1>Insert new product</h1>

<div class='user-form'>
    <%= simple_form_for(@product_form, url: admin_products_path, as: :product) do |f| %>
    <div class="form-inputs">
        <%= f.input :sku, label: 'SKU' %>
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
        <%= f.input :price %>
        <%= f.input :stock %>
        <%= f.input :photo, as: :file %>
        <%= f.input :tag_ids, as: :select, label: 'Tags',
            collection: Tag.order(:name), label_method: :name, input_html: { multiple: true } %>
    </div>
    
    <div class="form-actions">
        <%= f.submit 'Add product', class: 'btn btn-primary' %>
    </div>
    <% end %>
</div>